vene/novels/promised/empire/XMLSchema1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd" elementFormDefault="qualified"
	xmlns="http://tempuri.org/XMLSchema.xsd" xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="document">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string" />
				<xs:element name="page" type="page_data" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="page_data">
		<xs:sequence>
			<xs:element name="title" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>